@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700,800,900|Open+Sans:200,300,400,500,600,700&display=swap");
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-display: block;
  src: url("../plugins/font-awesome/webfonts/fa-solid-900.eot");
  src: url("../plugins/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../plugins/font-awesome/webfonts/fa-solid-900.woff2") format("woff2"), url("../plugins/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("../plugins/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("../plugins/font-awesome/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
  font-family: "Linearicons";
  src: url("fonts/Linearicons.eot?4t1dgh");
  src: url("fonts/Linearicons.eot?4t1dgh#iefix") format("embedded-opentype"), url("fonts/Linearicons.ttf?4t1dgh") format("truetype"), url("fonts/Linearicons.woff?4t1dgh") format("woff"), url("fonts/Linearicons.svg?4t1dgh#Linearicons") format("svg");
  font-weight: normal;
  font-style: normal;
  src: url(fonts/Linearicons.eot);
  /* For IE6-8 */
  src: local("Linearicons"), local("Linearicons"), url(fonts/Linearicons.woff) format("woff"), url(fonts/Linearicons.ttf) format("truetype");
}

:root {
  --first-color: #b82e24;
  --second-color: #555555;
  --third-color: #8d8d8d;
  --fourth-color: white;
  --fifth-color: #b81600;
  --sixth-color: #efefef;
  --font1: "IBM Plex Sans", sans-serif;
  --font2: "IBM Plex Sans", sans-serif;
}

@media (max-width: 1600px) {
  .banner-caption h2 {
    font-size: 2.3em !important;
  }
}

@media (max-width: 1500px) {
  .banner-caption p {
    font-size: 1em !important;
    margin-right: 40px;
  }
}

@media (max-width: 1400px) {
  .banner-caption h2 {
    font-size: 2em !important;
  }
  .banner-caption p {
    font-size: 1em !important;
    margin-right: 40px;
  }
}

@media (max-width: 1260px) {
  .banner-caption h2 {
    font-size: 1.85em !important;
  }
  .banner-caption p {
    font-size: 0.85em !important;
    margin-right: 40px;
  }
  #home-quote .quote-title {
    font-size: 1.1em;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn,
  .product-wrap .product-detail .product-btn .buy-now-btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1200px) {
  .banner-caption h2 {
    font-size: 1.45em !important;
  }
  .banner-caption p {
    margin-top: 5px;
    font-size: 0.75em !important;
    margin-right: 0;
  }
  .banner-caption .mt-5 {
    margin-top: 2rem !important;
  }
  .rating .fa-star {
    font-size: 1.15em;
  }
  .privacy-policy {
    bottom: 0px;
    left: 0px;
    width: 100%;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
  }
  .privacy-policy p {
    font-size: 0.85em;
  }
  #home-quote .quote-title {
    font-size: 0.85em;
  }
  .nav-link {
    font-size: 0.85em !important;
    padding: 0.5rem 0.65rem;
  }
  .product-prev,
  .product-next,
  .owl-reco-title-prev,
  .owl-reco-title-next,
  .owl-item-sale-prev,
  .owl-item-sale-next,
  .owl-recently-viewed-prev,
  .owl-recently-viewed-next {
    font-size: 1.1em !important;
  }
}

@media (max-width: 1199px) {
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn,
  .product-wrap .product-detail .product-btn .buy-now-btn {
    font-size: 0.65em;
  }
  #login .row [class^="col-md-"],
  #signup-wrapper .row [class^="col-md-"] {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100%;
  }
  #login #new-mem,
  #login #log-mem,
  #signup-wrapper #new-mem,
  #signup-wrapper #log-mem {
    text-align: left !important;
  }
  .list-product .product-card .product-price {
    font-size: 1.1rem;
  }
  #salesTransaction_wrapper .dataTables_scroll,
  #salesTransaction_wrapper .dataTables_info {
    font-size: 0.8rem;
  }
  #salesTransaction_wrapper .dataTables_info {
    text-align: left !important;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #cart-wrapper .summary-wrap .cart-btn .btn {
    font-size: 0.65em;
    padding-left: 15px;
    padding-right: 15px;
  }
  #checkout-wrapper .checkout-subtitle {
    font-size: 0.8em;
  }
}

@media (max-width: 992px) {
  .team-member {
    margin-bottom: 3rem;
  }
  #home-welcome img {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    display: block;
  }
  .privacy-policy {
    bottom: 0px;
    left: 0px;
    width: 100%;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
  }
  .privacy-policy p,
  .privacy-policy a {
    font-size: 0.85em;
  }
  .privacy-policy .default-btn,
  .privacy-policy .primary-btn {
    padding: 10px 25px;
  }
}

@media (max-width: 991px) {
  #sticky-contact {
    right: -143px;
  }
  .banner-caption h2 {
    font-size: 1.15em !important;
  }
  .banner-caption p {
    margin-top: 5px;
    font-size: 0.65em !important;
    margin-right: 10px;
  }
  .banner-caption .mt-5 {
    margin-top: 0.5rem !important;
    font-size: 0.85em !important;
    padding: 7px 20px;
  }
  .sub-banner-caption .container {
    display: block;
  }
  .sub-banner-caption h2 {
    font-size: 1.5em;
  }
  .sub-banner-caption .breadcrumb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub-banner-caption + #banner {
    margin-top: 0px;
  }
  .listing-filter-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
    height: 100%;
    width: 280px;
    font-size: 16px;
    -webkit-box-shadow: 0 1px 12px rgba(136, 136, 136, 0.22);
            box-shadow: 0 1px 12px rgba(136, 136, 136, 0.22);
    padding: 20px 25px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    opacity: 0;
    visibility: hidden;
    will-change: opacity, transform;
    -webkit-transition: 0.32s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.32s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .listing-filter-wrap.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  .listing-filter-wrap .gap-70 {
    height: 50px;
  }
  .filter-product .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-product .btn-group .filter-item-count {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 9px;
  }
  .form-style {
    width: 100%;
    margin: 0 auto;
  }
  #home-body .category-flex-1 > div {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
  #home-body .category-flex-2 > div {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
  }
  #home-quote {
    text-align: center !important;
  }
  #home-quote .quote-title {
    font-size: 1.2em;
  }
  #home-quote .secondary-btn {
    float: none;
    margin: auto;
    margin-top: 30px;
  }
  .category-nav-1 {
    width: 60% !important;
  }
  .product-wrap .product-detail {
    margin-top: 30px;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn,
  .product-wrap .product-detail .product-btn .buy-now-btn {
    font-size: 1em;
  }
  .product-additional {
    margin-top: 40px;
  }
  #checkout-wrapper .checkout-info .checkout-content {
    padding: 30px 20px;
  }
  #checkout-wrapper .checkout-info .checkout-content .customer-info td:first-child {
    padding-right: 20px;
  }
  #checkout-wrapper .checkout-info .checkout-process {
    min-height: 100%;
  }
  .r-tabs .r-tabs-panel {
    border-bottom: 1px solid #dfe2e5;
  }
  .post-footer {
    padding-bottom: calc(2rem + 52px);
  }
  #responsiveTabs2.r-tabs > .r-tabs-nav .r-tabs-anchor .title {
    display: none;
  }
  #responsiveTabs2.r-tabs > .r-tabs-nav .r-tabs-state-active .r-tabs-anchor .title {
    display: inline-block !important;
  }
  .tab + label {
    width: 100%;
  }
  .post-footer {
    padding-bottom: calc(2rem + 52px);
  }
  #responsiveTabs2.r-tabs > .r-tabs-nav .r-tabs-anchor .title {
    display: none;
  }
  #responsiveTabs2.r-tabs > .r-tabs-nav .r-tabs-state-active .r-tabs-anchor .title {
    display: inline-block !important;
  }
  .tab-wrap.horizontal label {
    width: 100%;
  }
  .error404 {
    font-size: 180px;
  }
  .tbl-responsive {
    width: 1000px !important;
  }
  .product-card .product-img {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .banner-caption {
    display: none !important;
  }
  .crumbs li:before {
    font-size: 0.7em;
    color: #8d8d8d;
  }
  .crumbs li a {
    font-size: 0.7em;
    color: #8d8d8d;
  }
  #home-body {
    padding: 50px 1rem;
  }
  #home-body .category-title {
    font-size: 0.85em !important;
    letter-spacing: 0.5px;
    font-weight: 700;
  }
  .category-nav-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background: transparent !important;
    width: 100% !important;
    margin-bottom: -90px;
    float: none;
  }
  .category-nav-1 .nav {
    margin-top: 20px;
  }
  .product-nav {
    margin-left: auto;
    background: white;
    padding-left: 5px;
  }
  .product-prev,
  .product-next,
  .reco-title-prev,
  .reco-title-next,
  .item-sale-prev,
  .item-sale-next,
  .recently-viewed-prev,
  .recently-viewed-next {
    font-size: 1em !important;
    padding: 5px 11px;
    margin: 0 1px;
  }
  .product-wrap .product-detail h2 {
    margin-top: 5px;
    font-size: 1.25em;
  }
  .product-additional .nav {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
  .product-additional .nav .nav-item .nav-link {
    height: 100%;
  }
  #home-quote {
    padding: 4rem 1rem;
  }
  #home-payment {
    padding: 50px 1rem;
  }
  #listing-wrapper {
    padding: 50px 1rem;
  }
  #product-wrapper {
    padding: 50px 1rem;
  }
  #cart-wrapper {
    padding: 50px 1rem;
  }
  #checkout-wrapper {
    padding: 50px 1rem;
  }
}

@media (max-width: 767px) {
  #home-body .category-flex-1 {
    display: block;
  }
  #home-body .category-flex-1 h2 {
    margin-bottom: 70px !important;
  }
  #home-body .category-flex-1 > div {
    margin-top: -98px;
  }
  #home-body .category-flex-2 {
    display: block;
  }
  #home-body .category-flex-2 h2 {
    margin-bottom: 0px !important;
  }
  #home-body .category-flex-2 > div {
    margin-top: -28px;
  }
  #cart-wrapper .cart-wrap .item {
    padding-bottom: 50px;
  }
  #cart-wrapper .cart-wrap .item .img-wrap {
    width: 130px;
  }
  #cart-wrapper .cart-wrap .item .info-wrap {
    margin-top: 20px;
  }
  #cart-wrapper .cart-wrap .item .info-wrap .cart-description .cart-product-title {
    margin-right: 0;
  }
  #cart-wrapper .cart-wrap .item .info-wrap .cart-info .cart-product-price {
    margin-top: 15px;
  }
  #cart-wrapper .container > .row > div:last-child {
    margin-top: 60px;
  }
  .out-of-stock {
    font-size: .95rem !important;
    padding: 9px 22px;
  }
  .add-cart-btn,
  .add-cart-alt1-btn {
    font-size: .95rem !important;
    padding: 7px;
  }
  .add-cart-btn img,
  .add-cart-alt1-btn img {
    width: 24px !important;
  }
  .privacy-policy {
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1.2em;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .privacy-policy p,
  .privacy-policy a {
    font-size: 0.8em !important;
    line-height: 1.5;
  }
  .privacy-policy .default-btn,
  .privacy-policy .primary-btn {
    padding: 8px 25px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0.5em 0;
  }
  .privacy-policy-btn {
    padding-left: 1em;
  }
  .privacy-policy-btn .default-btn {
    margin-left: 0px;
  }
  div[id^="payment_method"] {
    font-size: 0.9rem;
  }
  div[id^="payment_method"] :checked ~ .sub1, div[id^="payment_method"] :checked ~ .sub2 {
    margin-left: 15px;
  }
}

@media (max-width: 640px) {
  .mb-xs-4 {
    margin-bottom: 1.5rem !important;
  }
  .product-card {
    padding: 7px;
  }
  .product-card .product-price {
    margin-top: 5px;
    font-size: .85rem;
    font-weight: 800;
  }
  .product-card .product-title {
    font-size: .75rem !important;
  }
  .product-link {
    padding: 0 5px;
  }
  .list-product .product-card {
    padding: 7px 7px 60px;
  }
  .list-product .product-card .product-price {
    font-size: .85rem;
    font-weight: 800;
  }
  .list-product .product-card .product-title {
    font-size: .75rem !important;
  }
  .list-product .product-link {
    padding: 0 5px;
  }
}

@media (max-width: 575px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .pr-xs-1 {
    padding-right: 0.25rem !important;
  }
  .pl-xs-1 {
    padding-left: 0.25rem !important;
  }
  .filter-product {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn,
  .product-wrap .product-detail .product-btn .buy-now-btn {
    font-size: .75em;
  }
  .error404 {
    font-size: 120px;
  }
}

@media (max-width: 480px) {
  #home-body .category-flex-1 > div {
    margin-top: -30px !important;
    margin-bottom: 0px;
    float: none;
  }
  #home-body .category-flex-2 > div {
    margin-top: -30px !important;
    margin-bottom: 0px;
    float: right;
  }
  #home-body .category-title:after {
    top: 240%;
  }
  #home-body .category-title:first-of-type {
    margin-bottom: 40px !important;
  }
  #home-body .nav .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
  #home-body .nav .nav-item {
    font-size: 12px;
  }
  .filter-product {
    font-size: 0.85rem;
  }
  .dropdown-filter-btn:after {
    right: 15px;
    font-size: 12px;
  }
  .product-additional .nav .nav-item .nav-link {
    padding: 15px;
    font-size: 0.7em !important;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn {
    margin-right: 10px;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn img,
  .product-wrap .product-detail .product-btn .buy-now-btn img {
    height: 20px !important;
  }
  .product-wrap .product-detail .product-btn .product-wishlist {
    padding-top: 20px;
  }
  .product-wrap .product-detail .product-btn .product-wishlist svg {
    width: 40px;
  }
  .out-of-stock {
    font-size: .75rem !important;
    padding: 4px 14px;
  }
  .add-cart-btn,
  .add-cart-alt1-btn {
    font-size: .75rem !important;
    padding: 4px 7px;
  }
  .add-cart-btn img,
  .add-cart-alt1-btn img {
    margin: 0 5px 0 0 !important;
    width: 20px !important;
  }
  .product-card {
    margin-bottom: 10px !important;
  }
  .product-card a .product-img {
    margin: 5px auto 0 !important;
    min-height: 165px;
  }
}

@media (max-width: 400px) {
  #home-payment img {
    height: 18px;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn,
  .product-wrap .product-detail .product-btn .buy-now-btn {
    font-size: 0.65em;
  }
  .product-wrap .product-detail .product-btn .add-cart-alt2-btn img,
  .product-wrap .product-detail .product-btn .buy-now-btn img {
    height: 18px !important;
  }
  .product-wrap .product-detail .product-btn .product-wishlist {
    padding-top: 20px;
  }
  .product-wrap .product-detail .product-btn .product-wishlist svg {
    width: 40px;
  }
  .out-of-stock {
    font-size: .5rem !important;
    padding: 5px;
  }
  .add-cart-btn,
  .add-cart-alt1-btn {
    font-size: .5rem !important;
    padding: 5px;
  }
  .add-cart-btn img,
  .add-cart-alt1-btn img {
    width: 15px !important;
  }
}
/*# sourceMappingURL=responsive.css.map */