@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700|Open+Sans:200,300,400,500,600,700&display=swap");

$first-color: #b82e24;
$second-color: #333333;
$third-color: #8d8d8d;
$fourth-color: white;
$fifth-color: #b81600;
$sixth-color: #efefef;

$font1: "IBM Plex Sans",
sans-serif;
$font2: "IBM Plex Sans",
sans-serif;

:root {
  --first-color: #b82e24;
  --second-color: #333333;
  --third-color: #8d8d8d;
  --fourth-color: white;
  --fifth-color: #b81600;
  --sixth-color: #efefef;

  --font1: "IBM Plex Sans", sans-serif;
  --font2: "IBM Plex Sans", sans-serif;
}

body {
  font-family: $font2;
  font-size: 1.15rem !important;
  line-height: 1.5;
  color: $third-color;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background: $first-color;
  border-radius: 2px;
}

h2 {
  font-family: $font2;
  font-size: 1.25em;
  font-weight: 700;
  color: $first-color;
  line-height: 1.5;
}

h3 {
  font-family: $font1;
  color: $first-color;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.4;
}

h6 {
  font-family: $font1;
  color: white;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 1.75em;
}

q {
  color: $first-color;
  font-style: italic;
  font-size: 1.1em;
}

p {
  font-family: $font1;
  font-size: 1em !important;
  line-height: 1.8;
  font-weight: 400;
  color: $second-color;
}

img {
  width: 100%;
  margin: 1.25rem 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: white;
  transition: 0.3s all ease;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }

  .preloader-body {
    text-align: center;

    p {
      position: relative;
      right: -8px;
    }
  }

  .cssload-container {
    width: 100%;
    height: 36px;
    text-align: center;
  }

  .cssload-speeding-wheel {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    border: 3px solid $first-color;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    animation: cssload-spin 0.88s infinite linear;
  }

  @keyframes cssload-spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

#banner,
#subbanner {
  img {
    width: 100%;
    margin: 0;
  }
}

.banner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 97;
  max-width: 100%;
  opacity: 0.5;
  background: black;
}

.banner-caption {
  position: relative;
  z-index: 3;
  display: flex !important;
  align-items: center;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 98;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  padding: 0 25px;

  h2 {
    font-family: $font2;
    font-weight: 800 !important;
    font-size: 2.45em;
    line-height: 1.2;
    font-weight: 400;
    color: $fourth-color;
    padding: 0;
    margin: 0 auto;
  }

  hr {
    border-top: 2px solid $first-color;
    width: 50px;
    margin: 2em auto;
  }

  p {
    font-family: $font1;
    font-size: 1.15em !important;
    font-weight: 400;
    color: $fourth-color;
    padding: 0;
    line-height: 1.5;
  }
}

.sub-banner-caption {
  display: flex !important;
  align-items: center;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 0s;
  -vendor-animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 998;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  padding: 0 25px;
  background: rgba(0, 0, 0, 0.5);

  h2 {
    text-transform: uppercase;
    font-family: $font2;
    font-size: 2.35em;
    line-height: 1.35;
    font-weight: bold;
    color: $fourth-color;
    padding: 0;
    margin: 0 auto;
  }

  p {
    font-family: $font2;
    font-size: 1.2em;
    color: $third-color;
    padding: 0;
    line-height: 1.35;
  }
}

// BUTTONS
.btn {

  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

.default-btn {
  font-family: $font1;
  font-size: 1em;
  font-weight: 600;
  background: #ddd;
  text-transform: uppercase;
  color: $first-color;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid #ddd;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $fourth-color;
    text-decoration: none;
    background: $second-color;
    transition: all 0.2s ease-in-out;
    border-color: $second-color;
  }

  &.medium {
    padding: 15px 40px;
  }
}

.primary-btn {
  font-family: $font1;
  font-size: 1em;
  font-weight: 600;
  background: $fifth-color;
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid $fifth-color;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    text-decoration: none;
    background: darken($fifth-color, 10%);
    border: 2px solid darken($fifth-color, 10%);
    transition: all 0.2s ease-in-out;
  }

  &.medium {
    padding: 15px 40px;
  }
}

.secondary-btn {
  font-family: $font1;
  font-size: 1em;
  font-weight: 600;
  background: $fourth-color;
  text-transform: uppercase;
  color: $first-color;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid $fourth-color;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
    text-decoration: none;
    background: $second-color;
    border: 2px solid $second-color;
    transition: all 0.2s ease-in-out;
  }
}

.add-cart-btn {
  font-family: $font1;
  font-size: 1em;
  font-weight: 600;
  background: transparent;
  text-transform: uppercase;
  color: $first-color;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;

  img {
    display: inline !important;
    box-shadow: none !important;
    margin-right: 5px !important;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
  }
}

.play-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  border: 3px solid white;
  border-radius: 50%;
  display: block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  transition: all 0.5s ease-out;

  i {
    color: $first-color;
    font-size: 20px;
    transition: all 0.5s ease-out;
  }

  &:hover {
    background: $second-color;
    border: 3px solid $second-color;

    i {
      color: white;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.subpage-heading {
  font-family: $font2;
  font-size: 1.75em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.subtitle {
  font-family: $font1;
  font-size: 0.8em !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $first-color;
}

.align-center {
  display: flex;
  align-items: center;
}

// GAPS
$gaps: 10,
20,
30,
40,
50,
60,
70,
70,
80,
90,
100;

@each $gap in $gaps {
  .gap-#{$gap} {
    width: 100%;
    height: #{$gap}px;
  }
}

.bordered-img {
  border: 1px solid #cccccc;
}

.white-spc {
  white-space: nowrap;
}

// PARALLAX
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100%;

  .parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      opacity: 0;
      position: absolute;
      left: 50%;
      bottom: 0;
      min-height: 100%;
      min-width: 100%;
      transform: translate3d(0, 0, 0);
      transform: translateX(-50%);
      margin: 0;
    }
  }
}

#home-quote {
  padding: 30px 1rem;
  position: relative;
  z-index: 5;
  background: $sixth-color;

  .quote-title {
    font-size: 1.3em;
    padding-bottom: 0px;
    color: $second-color;
  }

  .secondary-btn {
    float: right;
  }
}

#home-body {
  padding: 70px 1rem;
  position: relative;
  z-index: 5;

  .category-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .category-nav-1,
  .category-nav-2 {
    position: relative;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    background: $fourth-color;
    padding-left: 5px;
    margin-top: -10px;
    z-index: 10;
  }

  .category-nav {
    &-1 {
      width: 45%;
    }

    &-2 {
      width: auto;
    }
  }

  .category-title {
    color: $second-color;
    font-weight: 400;
    font-size: 1.35em;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0;
    grid-area: title;
    line-height: 1.2;

    span {
      background-color: $fourth-color;
      padding-right: 10px;
    }

    &:after {
      content: "";
      background: $first-color;
      position: absolute;
      height: 2px;
      left: 0;
      top: 46%;
      right: 0;
      z-index: -1;
    }
  }
}

// PREV/NEXT BUTTONS
.owl-product-nav {
  position: relative;
  white-space: nowrap;
}

.owl-product-prev,
.owl-product-next,
.owl-reco-title-prev,
.owl-reco-title-next,
.owl-item-sale-prev,
.owl-item-sale-next {
  background: $first-color;
  color: $fourth-color;
  padding: 7px 13px;
  font-size: 1.35em;
  margin: 0 3px;

  &:hover {
    background: darken($first-color, 10%);
    color: $fourth-color;
  }

  &:focus {
    background: $first-color;
    color: $fourth-color;
  }
}

// TABS
.nav {
  width: 100%;

  .nav-item {
    flex-grow: 1;
    padding: 0 5px;
  }

  .nav-link {
    background: $sixth-color;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    color: $second-color;
    border-radius: 0;
    padding: 0.68rem 1rem;

    &:hover {
      color: $second-color;
      background: darken($sixth-color, 5%);
    }

    &.active {
      color: $fourth-color;
      background: $first-color;
    }
  }
}

// PRODUCT CARD
.owl-carousel.owl-hidden {
  opacity: unset;
}

.product-link {
  display: block;

  &:last-child {
    margin-right: 1px;
  }
}

.product-card {
  background: #f9f9f9;
  padding: 30px 20px;
  text-align: center;
  width: 100%;
  border: 1px solid #f9f9f9;
  transition: all 0.5s ease-out;

  img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    margin: 15px auto;
    box-shadow: 0px 0px 15px 0px rgba(180, 180, 180, 0.75);
  }

  .product-price {
    font-size: 1.4em;
    color: $second-color;
    font-weight: 600;
    margin-bottom: 0;
  }

  .product-title {
    margin: 0 !important;
    font-size: .75em !important;
    color: $second-color;
  }

  &:hover {
    border: 1px solid $first-color;
  }
}

// SERVICE CARD
.service-card {
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  transition: all 0.5s ease-out;

  &:hover {
    box-shadow: 0px 16px 20px 0px rgba(202, 202, 202, 0.75);
  }

  .media-body {
    padding-left: 25px;
  }

  .service-icon {
    text-align: center;
    padding: 25px 30px 25px 10px;
    transition: all 0.3s ease-in-out;

    img {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  .service-title {
    font-family: $font2;
    font-weight: 700;
    font-size: 1.1em;
  }

  p {
    font-size: 0.75em !important;
    margin-top: 0px !important;
    font-weight: 400;
  }

  &.primary {
    background: $fifth-color;

    .media-body {
      border-left: 1px solid $fourth-color;
    }

    .service-title {
      color: $fourth-color;
    }

    p {
      color: $fourth-color;
    }
  }

  &.secondary {
    background: $sixth-color;

    .media-body {
      border-left: 1px solid #d7d7d7;
    }

    .service-title {
      color: $first-color;
    }

    p {
      color: $second-color;
    }
  }
}

// PRODUCT GALLERY
.zoom-gallery {
  div {
    padding: 0 !important;
  }
}

.product-layout {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
  }

  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    img {
      transform: translateY(-50px);
      transition: all 0.8s ease-out;
    }

    .item-content {
      bottom: 0;
      transition: all 0.5s ease-out;
    }

    .item-icon-bottom-center {
      transform: translateY(-50%);
      top: 50%;
      opacity: 1;
      visibility: visible;
    }
  }

  img {
    width: 100%;
    transition: all 0.5s ease-out;
    margin: 0;
  }

  .item-content {
    text-align: left;
    background-color: $first-color;
    padding: 15px 20px !important;
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
    transition: all 0.8s ease-out;

    &:hover {
      background-color: $second-color;
      transition: all 0.3s ease-out;
    }
  }

  .item-icon-bottom-center {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 110%;
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
    left: 0;
    right: 0;
    z-index: 8;
    margin: 0 auto;
    text-align: center;
    background-color: #f8f8f8;
    height: 45px;
    width: 45px;
    line-height: 45px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: $first-color;
    font-size: 20px;
    transition: all 0.7s cubic-bezier(0, 0, 0.25, 1.5);

    &:hover {
      color: $second-color;
    }
  }

  .product-title {
    color: $fourth-color;
    font-family: $font2;
  }

  .product-sub-title {
    color: $fourth-color;
    font-family: $font1;
    font-weight: 400;
  }
}

// LATEST NEWS LAYOUT
@keyframes shine {
  100% {
    left: 125%;
  }
}

.news-layout {
  margin-bottom: 30px;
  text-align: left;

  &:hover {
    .published-date-comment {
      bottom: 0;
      opacity: 1;
      visibility: visible;
    }

    .item-content {
      box-shadow: 0px 16px 20px 0px rgba(202, 202, 202, 0.75);
    }
  }

  .item-img {
    position: relative;
    overflow: hidden;
  }

  .published-date-comment {
    padding: 12px 25px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -50px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;

    li {
      margin-right: 30px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: white;
        transition: all 0.5s ease-out;
        cursor: auto;

        &:hover {
          color: $first-color;
        }

        i {
          margin-right: 15px;
        }
      }
    }
  }

  .item-content {
    background-color: #ffffff;
    padding: 30px 25px;
    box-shadow: 0px 1px 0px 0px rgba(202, 202, 202, 0.75);
    transition: all 0.5s ease-out;
  }

  .news-title {
    font-family: $font2;
    color: $first-color;
    font-size: 1.25em;

    &:hover {
      color: $second-color;
    }
  }

  figure {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
    position: relative;

    &:hover::before {
      animation: shine 0.75s;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      transform: skewX(-25deg);
    }

    img {
      margin: 0;
    }
  }

  .read-more-btn {
    margin-top: 1.5rem;
    color: $third-color;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
  }

  .read-more-btn i {
    color: $first-color;
    margin-left: 15px;
  }

  .read-more-btn:hover {
    color: $first-color;
  }
}

#home-partner {
  background: $sixth-color;
  padding: 30px 1rem;
  text-align: center;
  position: relative;

  img {
    width: 400px;
    margin: 20px 0;
  }
}

#home-payment {
  padding: 70px 1rem;
  text-align: center;
  position: relative;

  img {
    width: auto;
    margin: 15px 7px;
  }
}

#default-wrapper {
  padding: 100px 1rem;
}

// SIDEBAR MENU
.side-menu {
  &>ul {
    list-style-type: none;
    padding: 0 0 20px;
  }

  ul {
    li {
      position: relative;

      &>a {
        display: block;
        font-family: $font1;
        font-size: 0.9em;
        text-transform: capitalize;
        color: $third-color;
        padding: 14px 15px;
        text-decoration: none;
        border-bottom: 2px dashed darken($fourth-color, 7%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }

      &.active>a {
        color: $first-color !important;
        background-color: $fourth-color !important;
      }

      &:hover>a {
        color: $second-color !important;
        background-color: $fourth-color !important;
      }

      &>ul {
        display: block;
      }
    }

    ul {
      padding: 0;
      list-style-type: none;

      li {
        &>a {
          font-size: 0.85em;
          text-transform: inherit;
          background-color: transparent;
          padding: 14px 15px 14px 30px;
        }

        &:hover {
          &>a {
            color: $second-color !important;
          }
        }

        ul {
          li {
            &>a {
              padding: 14px 15px 14px 45px;
            }
          }
        }
      }
    }
  }

  .dropdown-append {
    width: 49px;
    height: 49px;
    line-height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: "";
      top: 24px;
      right: 18px;
      width: 13px;
      height: 1px;
      background-color: #111111;
    }

    &:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &.dropdown-open:after {
      display: none;
    }
  }
}

.pre-footer {
  background: $second-color;
  padding: 70px 1rem 30px;
  color: white;

  .company-name {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }

  .footer-info {
    margin-bottom: 40px;

    p {
      margin: 0 0 1rem 0 !important;
    }
  }

  .footer-logo {
    margin: 0;
    background: white;
    border-radius: 10px;
    padding: 2em 1em;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .footer-title {
    color: $third-color;
    position: relative;
    font-family: $font2;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .quick-link {
    li {
      position: relative;
      line-height: 1.8;

      a {
        transition: all .5s ease-in-out;

        &:hover {
          color: $fourth-color !important;
        }
      }
    }
  }

  p {
    color: white;
  }

  .footer-social-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.8rem 0 0 0px;

    li {
      text-align: left;
      padding-bottom: 8px;
    }

    span {
      color: $fourth-color;
      margin: 0 1px;
      font-size: 16px;
      background: white;
      width: 40px;
      height: 40px;
      padding: 12px 1px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
        background: $second-color;
      }
    }

    .fa-facebook-f {
      background: #3a5a99 !important;

      &:before {
        padding: 13px;
      }
    }

    .fa-twitter {
      background: #55acee !important;

      &:before {
        padding: 12px;
      }
    }

    .fa-youtube-play {
      background: #e52d27 !important;

      &:before {
        padding: 11px;
      }
    }
  }
}

.post-footer {
  background: black;
  padding: 2rem 1rem;
  font-size: 0.9em;
  text-align: center;

  p {
    margin: 0 !important;
    color: $third-color;

    a {
      color: white;
      transition: all ease 0.2s;

      &:hover {
        color: $first-color;
        text-decoration: none;
      }
    }
  }
}

//SEARCH
.search {
  padding-bottom: 2em;

  form {
    display: flex;
    justify-content: space-between;
  }

  .form-control {
    height: calc(3.65rem + 2px);
  }

  .search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 60px;
    padding: 1rem 1.2rem;
    color: lighten($third-color, 25%);
  }

  input[type="text"] {
    font-family: $font1;
    font-size: 1em;
    border-color: lighten($third-color, 45%);
    border-radius: 5px !important;
    padding-left: 50px;
    position: relative;
    z-index: 1;
    color: $third-color;
    margin-right: 15px;
    background: transparent;

    &:focus {
      outline: 0;
      box-shadow: none !important;
      border-color: $first-color;
    }
  }

  ::placeholder {
    color: lighten($third-color, 50%) !important;
  }

  .primary-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.news-post {
  display: grid;
  grid-template-columns: 35% auto;
  width: 100%;
  padding: 1em;
  border: 1px solid lighten($third-color, 70%);
  border-radius: 10px;
  margin-bottom: 1.5em;

  &-img {
    height: 205px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;

    img {
      height: 100%;
      padding: 0 30px 0 0;
      margin: 0;
    }
  }

  &-info {
    position: relative;
    margin-left: 30px;

    h3 {
      font-family: $font2;
      font-size: 1.35em;

      a {
        color: $first-color;
        transition: all 0.2s ease-in-out;

        &:hover {
          text-decoration: none;
          color: $second-color;
        }
      }
    }

    &-excerpt {
      font-size: 0.85em !important;
      margin-top: 0.5em;
      margin-bottom: 2.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 80px;
    }

    &-meta {
      position: absolute;
      bottom: 0;
      font-size: 0.9em !important;
      padding-top: 10px;
      margin-bottom: 0px;

      a {
        color: $first-color;
        text-decoration: underline;

        &:hover {
          color: $second-color;
          text-decoration: none;
        }
      }
    }
  }
}

.article-content {
  p {
    font-size: 1em !important;
    line-height: 1.7;
    margin-bottom: 1.5em;
  }
}

.article-opt {
  margin-bottom: 1.5em;

  a {
    color: $third-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    span {
      color: $first-color;
      margin-right: 20px;
    }

    &:hover {
      color: $second-color;
      text-decoration: none;

      &>span {
        color: $second-color;
      }
    }
  }
}

.article-meta-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.2em;
  border-bottom: 1px solid lighten($third-color, 70%);
  margin-top: 20px;
  margin-bottom: 2em;

  .article-meta {
    &-author {
      color: $first-color;
    }

    p {
      margin: 0 !important;
    }
  }

  .article-share {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    &-text {
      margin-right: 15px;
      font-family: $font1;
    }
  }

  .jssocials-shares {
    display: flex;
  }

  .jssocials-share {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .jssocials-share-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
  }
}

#top {
  padding: 5px 3px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  cursor: pointer;
  z-index: 9999;

  img {
    height: 50px;
    width: 50px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.owl-nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 75%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .owl-prev {
    float: left;
  }

  .owl-next {
    float: right;
  }

  .owl-prev,
  .owl-next {
    cursor: pointer !important;
    margin-top: -50%;
    background: transparent;
    padding: 0.5em 1em 0.25em;
    color: $first-color;
    border: 2px solid $first-color;
    border-radius: 50%;
    transition: all 0.5s ease;

    span {
      font-size: 3em;
      line-height: 0.45;
      transition: all 0.5s ease;
    }

    &:hover {
      background: $second-color;
      border: 2px solid $second-color;

      span {
        color: white;
      }
    }
  }
}

// PRIVACY POLICY
.privacy-policy {
  position: fixed;
  bottom: 30px;
  left: 30px;
  padding: 2em;
  background: white;
  box-shadow: 0 0 20px #bbb;
  width: 1050px;
  display: grid;
  grid-template-columns: 60% auto;
  align-items: center;
  z-index: 9999999;

  &-desc {
    .title {
      font-family: $font1;
      font-weight: bold;
    }
  }

  p {
    margin-top: 0 !important;
  }

  &-btn {
    position: relative;
    text-align: right;

    .default-btn {
      margin-left: 0.5em;
    }
  }

  &.dark {
    background: $third-color;

    p {
      color: white;
    }
  }
}

// BREADCRUMBS
.crumbs {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  li {
    &:before {
      margin: 0 0 0 4px;
      content: "/ ";
      color: $fourth-color;
      font-size: 0.7em;
    }

    &:first-child:before {
      content: "";
    }

    a {
      color: $fourth-color;
      font-family: $font1;
      font-size: 0.7em;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// PAGINATION
.pagination {
  margin-top: 1em;

  .page-item {
    &:first-child .page-link {
      margin-left: 0;
      border-radius: 5px 0 0 5px;
    }

    &:last-child .page-link {
      border-radius: 0 5px 5px 0;
    }

    &.active .page-link {
      z-index: 2;
      background-color: white;
      color: $first-color;
      pointer-events: none;
      cursor: default;
      border: 1px solid $first-color;
    }
  }

  .page-link {
    font-family: $font1;
    font-size: 0.85em !important;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: lighten($third-color, 5%);
    border: 1px solid lighten($third-color, 55%);

    &:hover {
      text-decoration: none;
      background-color: $fourth-color;
      color: $second-color;
    }
  }
}

// CONTACT PAGE
.contact-details {
  font-family: $font1;

  p,
  label {
    font-size: 1em;
  }

  form {
    margin-top: 2em;

    label {
      padding-top: 0.5em;
    }

    input,
    textarea {
      padding: 1.4em 1em;
      font-size: 1em;

      &:focus {
        box-shadow: none !important;
        border-color: $first-color !important;
      }
    }
  }

  &>div:first-child {
    padding-right: 30px;
  }
}

// ARTICLE WIDGET
.article-widget {
  padding-right: 50px;
  margin-bottom: 2em;

  &-title {
    font-family: $font2;
    font-size: 1.3em !important;
  }

  &-badge {
    margin-top: 0.7em;

    span {
      font-family: $font1;
      background: #666666;
      border-radius: 4px !important;
      font-weight: normal !important;
      font-size: 0.6em !important;
      padding: 0.5em 0.65em !important;
      margin: 0 2px 4px 0;
    }
  }

  &-search {
    margin-top: 0.7em;
  }

  &-news {
    padding: 0.85em 0;

    .news-date {
      font-size: 0.7em !important;
      line-height: 1.2;
      margin-bottom: 0 !important;
    }

    .news-title {
      font-size: 0.9em !important;
      line-height: 1.5;
      margin: 0 !important;
      margin-top: 15px !important;

      a {
        color: $first-color;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $second-color;
        }
      }
    }
  }
}

// FORM STYLE

.form-style {
  width: calc(100% - 20px);

  .form-label {
    position: absolute;
    top: 35px;
    left: 24px;
    pointer-events: none;
    z-index: 9;
    transition: .25s;
    will-change: transform;
    transform: translateY(-50%);
    font-style: normal;
  }

  .form-input {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 17px 19px;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    color: black;
    background-color: $fourth-color;
    background-image: none;
    border: 1px solid #dfe3e9;
    border-radius: 2px;
    -webkit-appearance: none;
    transition: .3s ease-in-out;

    &:focus {
      box-shadow: none !important;
      border-color: $first-color !important;
    }
  }

  p,
  label {
    font-size: 1em;

  }
}